.selling {
    border: 1px solid black;
    border-radius: 20px;
    background: #DCF6D6;
    padding: 10px 30px;

    &__inputs {
        display: flex;
        justify-content: space-between;
    }

    &__input {
        border: none;
        background: #D9D9D9;
        flex-basis: 25%;
        border-radius: 20px;
        font-size: 20px;
        line-height: 30px;
        padding: 5px 20px;
    }

    &__button {
        border: none;
        border-radius: 20px;
        flex-basis: 15%;
        font-size: 24px;
        line-height: 39px;
        background: #887A7A;
    }
}